name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'

  pull_request:
    branches: [main]
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: true
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        build-variant: [Debug, Release]
    steps:
      - uses: actions/checkout@v4

      # TODO: Install GCC without using a script.
      - if: matrix.os == 'ubuntu-latest'
        name: Installing GCC
        uses: egor-tensin/setup-gcc@v1
        with:
          version: 12

      - if: matrix.os == 'ubuntu-latest'
        name: Installing Linux dependencies
        run: |
            sudo apt update
            sudo apt-get install -y libx11-dev libxkbcommon-x11-dev libx11-xcb-dev

      - name: Configuring
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{matrix.build-variant}} -DCORE_BUILD_UNITY=ON

      - name: Building
        run: cmake --build build --clean-first --config ${{matrix.build-variant}} -j

      - name: Running tests
        run: build/bin/${{matrix.build-variant}}/unittest